@use '../../../styles/vars' as vars;
@use '../../../styles/mixins' as mixins;

.filter {
  margin-bottom: 20px;
}

.categories {
  .category {
    padding: 20px;
    border: 1px solid vars.$black;
    border-radius: 10px;

    & + .category {
      margin-top: 20px;
    }

    .categoryLink {
      @include mixins.link;
    }
  }
}
