PORT=3000
HOST_ENV=local
DATABASE_URL=postgresql://taras:100mln_project@localhost:5432/glimmung?schema=public
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=1234
FRONTEND_URL=http://localhost:8000
RUSENDER_API_KEY=!!!SECRET!!!
FROM_EMAIL_NAME=glimmung
FROM_EMAIL_ADDRESS=noreply@glimmung.online
DEBUG=glimmung:*,-glimmung:prisma:*,-glimmung:trpc:query:success
BACKEND_SENTRY_DSN=!!!SECRET!!!
SENTRY_AUTH_TOKEN=!!!SECRET!!!
SOURCE_VERSION=123
CLOUDINARY_API_KEY=!!!SECRET!!!
CLOUDINARY_API_SECRET=!!!SECRET!!!
CLOUDINARY_CLOUD_NAME=dtf4il3vx